:root {
  --backgroundColor: #9ec5da;
  --borderColor: #000000;
  --itemBackgroundColor: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7em;
  background-color: var(--backgroundColor);
}

h1 {
  font-weight: 700;
  font-size: 4em;
}

img {
  width: 30%;
  aspect-ratio: 4/3;
}

button, #par, #autoClickerCount {
  width: 40%;
  height: fit-content;
  border: solid var(--borderColor);
  background-color: var(--itemBackgroundColor);
  text-align: center;
  padding: 0.3em 0;
}

div#autoClickerCount {
  aspect-ratio: 10/1;
}
