@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap");
:root {
  --backgroundColor: #9ec5da;
  --borderColor: #000000;
  --itemBackgroundColor: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Instrument Serif", serif;
}

body {
  background-color: var(--backgroundColor);
  width: 100%;
}

button#upgradeStoreButton {
  margin: 0.3em;
  min-width: fit-content;
  max-width: 35%;
}

div#upgradeStore {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  align-items: center;
  display: none;
  width: 100%;
}

main {
  width: 100%;
  margin-bottom: 0.3em;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  align-items: center;
}

h1 {
  font-weight: 700;
  font-size: 4em;
}

img {
  width: 30%;
  aspect-ratio: 4/3;
}

button, #par, #autoClickerCount {
  width: 40%;
  height: fit-content;
  border: solid var(--borderColor);
  background-color: var(--itemBackgroundColor);
  text-align: center;
  padding: 0.3em 0;
  font-size: 1.3em;
}

div#autoClickerCount {
  aspect-ratio: 10/1;
}
